.layout {
    font-family: Arial, Helvetica, sans-serif;
  
    &__header {
      margin-left: 5rem;
      padding: 0 1rem;
  
    }
  
    &__main {
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
}
  
.category {
  background-color: #f5f3e3;
  border:1px solid black;
  border-radius: 5px;
  margin: 1rem;
  padding-left: 1rem;
  width: 50%;
}

.articles {
  margin-bottom: 2rem;
}

.navlink {
  font-weight: bold;
  text-decoration: none;
}